.bosqueContainer {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  margin: 0;
  /* Eliminar el fondo */
  background: transparent;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .bosqueContainer {
    height: 200px; /* Reducir la altura en móviles */
  }
}

.tree {
  position: absolute;
  bottom: 0;
  transition: opacity 0.3s ease;
  object-fit: contain; /* Asegurar que las imágenes se ajusten correctamente */
}

/* Eliminar el efecto de niebla */
