@import "@fontsource-variable/bitter";

* {
  font-family: "bitter";
}

.draw {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.draw h1 {
  color: #fff;
  text-shadow: 2px 1px 7px #404040;
  font-size: 2.2em;
  margin: 0 0 5px;
}

.drawAside {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #5b5f5e;
  font-family: "bitter";
}

.instructionStep {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.stepNumber {
  font-size: 24px;
  font-weight: bold;
}

.drawAside p {
  font-size: 19px;
  margin: 0;
}

.drawAside bold {
  font-weight: 900;
}

.drawSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.drawSectionCanvas {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  position: relative;
}

.drawSectionCanvas img {
  width: 100%;
  height: 100%;
  max-width: 709px;
  max-height: 500px;
  position: relative;
}

.drawCanvas {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.drawOptions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.drawOptionsElements {
  display: flex;
  align-items: center;
  gap: 30px;
}

.toolGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.toolGroupTitle {
  width: 110px;
  text-wrap: nowrap;
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #5b5f5e;
}

.drawOptionsElementsButtons {
  display: flex;
  gap: 10px;
}

.drawOptionsElementsButtons_pencil {
  background-color: #fff;
  padding: 6px 12px;
  border-radius: 50px;
  border: 1px solid #000000;
  display: flex;
  gap: 17px;
}

.drawOptionsElementsButtons_slider {
  background-color: transparent;
  padding: 6px 0px;
  border-radius: 50px;
  border: 1px solid #000000;
  display: flex;
  align-items: center;
  height: 37px;
  width: 145px;
  background-image: url("../../assets/Dibujo/Slider_2.webp");
  background-size: 100% 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.ctaButton {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.drawOptionsElementsButtons button,
.drawOptionsElementsButtons_pencil button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
}

.drawOptionsElementsButtons img {
  width: 40px;
  height: 40px;
}

.selected {
  border: 1.5px solid #000000 !important;
  border-radius: 100%;
}

.slider {
  appearance: none;
  width: 100%;
  height: 6px;
  background: transparent;
  border-radius: 5px;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  width: 22px;
  height: 22px;

  background-image: url("/src/assets/Dibujo/punta.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  border: none;
  border-radius: 0; /* o 50% si quieres redondeado */
  cursor: pointer;
  pointer-events: auto;

  margin-top: 16px; /* Alineación vertical según track height */
}

/* Firefox */
.slider::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  background-color: transparent; /* Temporal para testear */
  background-image: url("/src/assets/Dibujo/punta.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 0;
  cursor: pointer;
  transform: translateY(15px);
}

.birds {
  position: absolute !important;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90% !important;
  height: 90% !important;
  object-fit: cover;
  opacity: 0.2;
}

.drawOptionsElementsButtons_play {
  border: 2px solid #000000 !important;
  padding: 8px;
  border-radius: 100%;
}

.drawOptionsElementsButtons_play img {
  width: 20px;
  height: 20px;
  padding-left: 2.5px;
}

.frames {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  gap: 15px;
  padding-top: 10px;
}

.frames button {
  appearance: none;
  background-color: #fff;
  border: 1px solid #5b5f5e;
}

.frames button img {
  width: 100%;
  height: 100%;
}

.frameSelect {
  border: 1.6px solid #000000 !important;
}

.downloadButton {
  border: 1px solid black !important;
  border-radius: 500px !important;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  font-size: 16px;
}

.downloadButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

@media screen and (min-width: 769px) {
  .drawCanvas {
    top: 54.5%;
  }

  .drawSection {
    flex-direction: row;
    gap: 20px;
  }

  .drawOptionsElements {
    gap: 40px;
  }
}
