.wrapper {
    width: 100%;
    padding: 1rem 0;
    text-align: center;
}

.header {
    margin-bottom: 0;
    /* Adjusted since it's at the bottom */
}

.mainTitle {
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
    margin: 0 0 4px 0;
    font-weight: bold;
}

.subtitle {
    font-size: 0.9rem;
    color: #a0aec0;
    /* gray-400 */
    margin: 0;
}