.timelineContainer {
  position: relative;
  width: 100%;
  margin-left: 0;
  height: 20px;
  /* Ajusta la altura según sea necesario */
  background-color: #333;
  margin-top: 10px;
  border-radius: 3px;
  overflow: hidden;
  /* Asegura que los segmentos no se desborden */
}

.timelineSegment {
  position: absolute;
  height: 100%;
  /* background-color: #555;  El color por defecto ahora se maneja en JS para permitir colores dinámicos */
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  /* Separador entre segmentos */
  box-sizing: border-box;
  opacity: 0.7;
  /* Menor opacidad para segmentos no activos */
  transition: opacity 0.1s ease-in-out;
}

.activeSegment {
  opacity: 1;
  /* Mayor opacidad para el segmento activo */
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
  /* Sombra para resaltar */
}

.timelineCursor {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  /* Grosor del cursor */
  background-color: red;
  /* Color del cursor */
  z-index: 10;
  /* Asegura que el cursor esté encima */
  transform: translateX(-50%);
  /* Centra el cursor */
  pointer-events: none;
  /* Asegura que el cursor no interfiera con eventos de ratón */
}