.videoPlayerContainer {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.videoWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
  margin-left: 40px;
}

.videoContainer {
  margin-right: 3%;
  position: relative;
  display: flex;
  justify-content: center;
}

.videoElement {
  width: 80%;
  background-color: #000;
}

.subtitleOverlay {
  position: absolute;
  bottom: 80px;
  left: 15%;
  right: 15%;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin: 0;
  border-radius: 5px;
  pointer-events: none;
}

.controls {
  display: flex;
  flex-direction: column;
  width: 85%;
  gap: 15px;
  width: 100%;
  padding: 0 0 2.5% 0;
}

.jumpButtons {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.jumpButton {
  padding: 8px 12px;
  background: #1f2937;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  /* border: 1px solid #3b4757; */
}

.jumpButton:hover {
  background-color: #334155;
}

.removeFilterButton {
  background-color: #991b1b; /* Rojo oscuro */
  color: white;
}

.removeFilterButton:hover {
  background-color: #7f1d1d; /* Rojo más oscuro al pasar el mouse */
}

.subtitleControls {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.subtitleToggle {
  padding: 8px 12px;
  background-color: transparent;
  border: 2px solid #94a3b8;
  color: #eaecef;

  border-radius: 4px;
  cursor: pointer;
}

.subtitleToggle:hover {
  background-color: #111827;
  border: 2px solid #111827;
}

.languageSelector {
  padding: 8px 12px;
  background-color: transparent;
  border: 2px solid #94a3b8;
  color: #eaecef;
  border-radius: 4px;
  cursor: pointer;
}

.languageSelector:focus {
  background: #111827; /* fondo del control mientras está abierto */
  border: 2px solid #111827;
}

.languageSelector option,
.languageSelector optgroup {
  background: #111827; /* mismo fondo oscuro */
  color: #eaecef;
}

.sectionImportant{
  display: flex;
  flex-direction: column;
  gap:16px;
  padding-right: 13%;
  padding-left: 10%;
}

.jumpButtonsExplanation {
  font-size: 1rem;
  color: #d1d5db;
  margin-bottom: 10px;
  font-weight: 700;
}

.jumpButtonFlex {
  display: flex;
  flex-direction: column;
}