.videoPlayerContainer {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.videoWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
  /* Removed margin-left to ensure centering */
}

.videoContainer {
  margin: 0 auto;
  /* Center the container */
  width: 80%;
  /* Fixed relative width for both video and timeline */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.videoElement {
  width: 100%;
  /* Fill the container */
  background-color: #000;
}

.videoElement::cue {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  /* The size:80% is handled in the VTT file, but we can enforce other props here */
}

.controls {
  display: flex;
  flex-direction: column;
  width: 85%;
  gap: 15px;
  width: 100%;
  padding: 0 0 2.5% 0;
}

.jumpButtons {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.jumpButton {
  padding: 8px 12px;
  background: #1f2937;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  /* border: 1px solid #3b4757; */
}

.jumpButton:hover {
  background-color: #334155;
}

.activeJumpButton {
  background-color: #3b82f6;
  /* Azul brillante */
  color: white;
  border: 1px solid #60a5fa;
}

.activeJumpButton:hover {
  background-color: #2563eb;
}

.removeFilterButton {
  background-color: #991b1b;
  /* Rojo oscuro */
  color: white;
}

.removeFilterButton:hover {
  background-color: #7f1d1d;
  /* Rojo más oscuro al pasar el mouse */
}

.subtitleControls {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.subtitleToggle {
  padding: 8px 12px;
  background-color: transparent;
  border: 2px solid #94a3b8;
  color: #eaecef;

  border-radius: 4px;
  cursor: pointer;
}

.subtitleToggle:hover {
  background-color: #111827;
  border: 2px solid #111827;
}

.languageSelector {
  padding: 8px 12px;
  background-color: transparent;
  border: 2px solid #94a3b8;
  color: #eaecef;
  border-radius: 4px;
  cursor: pointer;
}

.languageSelector:focus {
  background: #111827;
  /* fondo del control mientras está abierto */
  border: 2px solid #111827;
}

.languageSelector option,
.languageSelector optgroup {
  background: #111827;
  /* mismo fondo oscuro */
  color: #eaecef;
}

.sectionImportant {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 80%;
  /* Match video container width */
  margin: 0 auto;
  /* Center the section */
  padding: 0;
  /* Remove asymmetric padding */
}

.jumpButtonsExplanation {
  font-size: 1rem;
  color: #d1d5db;
  margin-bottom: 10px;
  font-weight: 700;
}

.jumpButtonFlex {
  display: flex;
  flex-direction: column;
}