.container {
  position: relative;
  width: 100%;
  height: 15vh;
  min-height: 100px;
  overflow: hidden;
}

.svg {
  position: absolute;
  width: 300%;
  height: 100%;
  bottom: 0;
  left: 0;
}

.wave {
  animation: waveMove 12s ease-in-out infinite;
  fill: none;
  transform-origin: center;
}

@keyframes waveMove {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(-25%) translateY(-5px);
  }
  50% {
    transform: translateX(-50%) translateY(0);
  }
  75% {
    transform: translateX(-75%) translateY(5px);
  }
  100% {
    transform: translateX(-100%) translateY(0);
  }
}
