.root {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100dvh;
  width: 100%;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  transition: background-image 1.5s ease-in-out;
  overflow-y: hidden;
}

.root::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 40%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
}

.header {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.header img {
  width: 243px;
  height: 58px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
  z-index: 1;
}

.container_header {
  width: 300px;
  height: 70px;
}

.container_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: center;
}

.img_background {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 1.5s ease-in-out;
}

@media screen and (min-width: 769px) {
  .container {
    padding-bottom: 40px;
    gap: 40px;
  }

  .container_header {
    width: 500px;
    height: 116px;
  }

  .container_content {
    flex-direction: row;
    width: 30%;
  }
}
