@import "@fontsource-variable/bitter";

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 80px 20px;
  gap: 20px;
  min-height: 100dvh;
  background-color: white;
  background-image: url("/src/assets/clean-gray-paper.png");
  color: black;
  font-family: "Bitter Variable", system-ui;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header img {
  width: 243px;
  height: 58px;
}

.main {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  width: 100%;
  min-height: calc(100vh - 277px);
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  justify-items: center;
}

a {
  height: fit-content;
}

.waves {
  display: flex;
  width: 100%;
  position: absolute;
  top: calc(100% + 20px);
}

.draw {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  padding-top: 100px;
}

.draw h1 {
  font-size: 32px;
  color: #fff;
  text-shadow: 2px 1px 7px #404040;
}

.drawAside {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item_history {
  display: flex;
  justify-content: center;
  width: fit-content;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  transition: border-color ease-in-out 0.3s;
}

.item_history:hover {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

a {
  text-decoration: none;
}

.item_history_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.storyPointContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.storyPointContainer img {
  display: block;
}

.storyPointOverlay {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  /* So the image underneath is still clickable */
}

.item_history_title {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  width: 100%;
  text-align: center;
  color: #000;
  text-decoration: none;
}

.item_history:hover .item_history_title {
  opacity: 1;
  pointer-events: auto;
}

.treeImage {
  position: absolute;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  z-index: 0;
  height: auto;
}

.riversHeader {
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (width >=768px) {
  .waves {
    top: calc(100% - 90px);
  }

  .draw {
    gap: 50px;
    max-width: 80%;
  }
}

@media screen and (width >=1100px) {
  .header {
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .aside {
    position: relative;
    top: -80px;
  }
}